// 重置vant ui
.van-button {
  height: 34px;
  line-height: 32px;
  border-radius: 17px;
}

.van-icon,
.van-icon::before {
  vertical-align: text-top;
}

.van-search__content {
  background-color: #e8e8e8;
}
